.topnav{
    margin-left: 70%;
    font-family: 'DM Serif Display', serif;
    font-size: large;
    
}

a{
    text-decoration: none;
    color:  hsl(256, 26%, 20%);
}
#vw{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h1{
    font-family:'DM Serif Display', serif;
    font-size: xx-large;
    margin-left: 20%;
    color: white;
}

#content{
    display: flex;
    padding-top: 150px;
    background-color: hsl(256, 26%, 20%);
    height: 50vh;
    margin-top: 30px; 
}


h5{
    font-family: 'DM Serif Display', serif;
    color: white;
    margin-left: 20%;    
}
.text{
    margin-left: 200px;
}

img{
    margin-top: -250px;
    margin-left: 500px;
}
hr{
    width: 100px;
    margin-left: 20%;
}
.svg{
    margin-top: -95%;
    margin-left: 80%;
}

#spiral{
margin-top: -20%;
}

#main{
    color:hsl(256, 26%, 20%);
}
h4{
    font-family:'DM Serif Display', serif;
    color:hsl(256, 26%, 20%);
}

h6{
    font-family:'DM Serif Display', serif;
    color: hsl(256, 26%, 20%);
}

.container{
    display:flex;
    justify-content:space-evenly;
}
.sub{
    background-color:hsl(256, 26%, 20%);
    height: 250px;
    width: 77%;
    margin-left: 10%;
}

.side{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.dx{
    padding-top: 70px;
    margin-left: 50px;
    font-family:'DM Serif Display', serif;
}
#hw{
    float: right;
    margin-top: -90px;
    background-color: transparent;
    margin-right: 10%
    
}
#bt{
    color: white;
}
.sv{
   float: right;
   margin-top: -18%;
   margin-right: 13%;
   padding-top: 2%;
}
.sub-footer{
    background-color:hsl(0, 0%, 98%);
    height: 40vh;
    
}
.sb{
    margin-left: 10%;
    margin-top: 5px;
}

.icon{
    float: right;
    margin-top: -20%;
}

.footer{
    display: flex;
    justify-content:space-around;
    margin-top: -18%;
  
}

.mn{
    margin-top: -17.5%;

}
#v{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#max{
    width: 200px;
}